@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6B7280;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.75rem 2rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #3730A3;
  border: 1px solid #3730A3;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button._fw {
  width: 100%;
}

.button_blue {
  background: #3730A3;
  color: #fff;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  color: #3730A3;
  margin-bottom: 15px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.heder {
  font-weight: 600;
  text-align: center;
  color: #1F2937;
  max-width: 64.9375rem;
  margin: 0 auto;
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
  .heder {
    font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
  .heder {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .heder {
    padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .heder {
    padding-bottom: calc(1.25rem + 8.125 * (100vw - 20rem) / 55.625);
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.header._header-scroll {
  background: rgba(255, 255, 255, 0.877);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (min-height: clamp( 3.75rem , -0.2050561798rem  +  19.7752808989vw , 14.75rem )) {
  .header__container {
    min-height: clamp( 3.75rem , -0.2050561798rem  +  19.7752808989vw , 14.75rem );
  }
}

@supports not (min-height: clamp( 3.75rem , -0.2050561798rem  +  19.7752808989vw , 14.75rem )) {
  .header__container {
    min-height: calc(3.75rem + 11 * (100vw - 20rem) / 55.625);
  }
}

._header-scroll .header__container {
  min-height: 5rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62px;
  height: 62px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62px;
          flex: 0 0 62px;
  border-radius: 50%;
  background-color: #EEEBFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 0.625rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.7777777778;
  color: #7B61FF;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 2;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  z-index: 2;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-right: clamp( 0.625rem , -0.0491573034rem  +  3.3707865169vw , 2.5rem )) {
  .menu__item {
    margin-right: clamp( 0.625rem , -0.0491573034rem  +  3.3707865169vw , 2.5rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -0.0491573034rem  +  3.3707865169vw , 2.5rem )) {
  .menu__item {
    margin-right: calc(0.625rem + 1.875 * (100vw - 20rem) / 55.625);
  }
}

.menu__link {
  font-weight: 500;
  line-height: 1.5555555556;
}

.icon-menu {
  display: none;
}

.footer {
  background: #FEF2F2;
}

@supports (padding-top: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
  .footer {
    padding-top: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
  .footer {
    padding-top: calc(1.875rem + 5 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem )) {
  .footer {
    padding-bottom: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.7724719101rem  +  10.1123595506vw , 6.875rem )) {
  .footer {
    padding-bottom: calc(1.25rem + 5.625 * (100vw - 20rem) / 55.625);
  }
}

.footer__text {
  font-weight: 400;
  line-height: 1.5555555556;
  text-align: center;
  color: #9CA3AF;
  max-width: 41.5rem;
  margin: 0 auto;
}

@supports (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
  .footer__text:not(:last-child) {
    padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
  .footer__text:not(:last-child) {
    padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
  }
}

.footer__sicial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder_marg:not(:last-child) {
  padding: 0 0 1.25rem 0;
}

@supports (padding-top: clamp( 7.5rem , 4.5786516854rem  +  14.606741573vw , 15.625rem )) {
  .page-main {
    padding-top: clamp( 7.5rem , 4.5786516854rem  +  14.606741573vw , 15.625rem );
  }
}

@supports not (padding-top: clamp( 7.5rem , 4.5786516854rem  +  14.606741573vw , 15.625rem )) {
  .page-main {
    padding-top: calc(7.5rem + 8.125 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
  .page-main {
    padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
  .page-main {
    padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
  }
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page__img {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.5084745763%;
          flex: 0 0 40.5084745763%;
}

.main-page__img img {
  max-width: 100%;
}

.content-main {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

@supports (padding-right: clamp( 0.0000000625rem , -1.797752724rem  +  8.9887639326vw , 5rem )) {
  .content-main {
    padding-right: clamp( 0.0000000625rem , -1.797752724rem  +  8.9887639326vw , 5rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -1.797752724rem  +  8.9887639326vw , 5rem )) {
  .content-main {
    padding-right: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 55.625);
  }
}

.content-main__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.1111111111;
  color: #4338CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.content-main__title::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 102px;
          flex: 0 0 102px;
  height: 2px;
  background: #4338CA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-main__header {
  font-weight: 700;
  color: #1F2937;
}

@supports (font-size: clamp( 1.875rem , 0.9311797753rem  +  4.7191011236vw , 4.5rem )) {
  .content-main__header {
    font-size: clamp( 1.875rem , 0.9311797753rem  +  4.7191011236vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.9311797753rem  +  4.7191011236vw , 4.5rem )) {
  .content-main__header {
    font-size: calc(1.875rem + 2.625 * (100vw - 20rem) / 55.625);
  }
}

.content-main__text {
  font-weight: 400;
  line-height: 1.5555555556;
}

.content-main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.content-main__small-text {
  font-size: 0.75rem;
  line-height: 0.6666666667;
  border-top: 1px solid #E5E7EB;
  padding: 1.25rem 0 0 0;
}

@supports (padding-top: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem )) {
  .services {
    padding-top: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -1.3974719101rem  +  10.1123595506vw , 6.25rem )) {
  .services {
    padding-top: calc(0.625rem + 5.625 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .services {
    padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .services {
    padding-bottom: calc(1.25rem + 8.125 * (100vw - 20rem) / 55.625);
  }
}

.services__heder span {
  color: #3730A3;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__img {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.2881355932%;
          flex: 0 0 37.2881355932%;
}

.services__img img {
  max-width: 100%;
}

.services__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

@supports (gap: clamp( 0.625rem , -0.6783707865rem  +  6.5168539326vw , 4.25rem )) {
  .services__items {
    gap: clamp( 0.625rem , -0.6783707865rem  +  6.5168539326vw , 4.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , -0.6783707865rem  +  6.5168539326vw , 4.25rem )) {
  .services__items {
    gap: calc(0.625rem + 3.625 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding: clamp( 0.0000000625rem , -1.1235954206rem  +  5.6179774157vw , 3.125rem )) {
  .services__items {
    padding: clamp( 0.0000000625rem , -1.1235954206rem  +  5.6179774157vw , 3.125rem );
  }
}

@supports not (padding: clamp( 0.0000000625rem , -1.1235954206rem  +  5.6179774157vw , 3.125rem )) {
  .services__items {
    padding: calc(0.0000000625rem + 3.1249999375 * (100vw - 20rem) / 55.625);
  }
}

.item-services {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.item-services__heder {
  font-weight: 600;
  line-height: 1.5555555556;
  color: #1F2937;
}

.item-services__text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.item-services__link {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #3730A3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.no-webp .item-services__link::after{
  background: url("../img/icon/arrow-right.png") 0 0/100% no-repeat; }

.item-services__link::after {
  content: "";
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
}

.partners {
  background: #FEF2F2;
}

@supports (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .partners {
    padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .partners {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
  .partners {
    padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.547752809rem  +  8.9887640449vw , 6.25rem )) {
  .partners {
    padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
  }
}

.partners__header {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
}

.partners__header:not(:last-child) {
  margin-bottom: 1.25rem;
}

.partners__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 6.0625rem;
     -moz-column-gap: 6.0625rem;
          column-gap: 6.0625rem;
  row-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .galery {
    padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .galery {
    padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .galery {
    padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .galery {
    padding-bottom: calc(1.25rem + 8.125 * (100vw - 20rem) / 55.625);
  }
}

.galery__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.galery .item-galery {
  position: relative;
}

.galery .item-galery__img-ibg {
  padding: 0 0 74.8387096774% 0;
  height: 100%;
}

.galery .item-galery__content {
  opacity: 0;
  visibility: hidden;
  padding: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.touch .galery .item-galery__content {
  opacity: 1;
  visibility: visible;
}

.galery .item-galery__body {
  position: relative;
  background: #FFFFFF;
  padding: 1.4375rem 3.75rem 1.4375rem 1.6875rem;
}

.no-webp .galery .item-galery__body::before{
  background: url("../img/icon/arrow-black.png") 0 0/100% no-repeat; }

.galery .item-galery__body::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  right: 1.5625rem;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.galery .item-galery__title {
  font-weight: 500;
  line-height: 1.5555555556;
  color: #1F2937;
}

.galery .item-galery__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #9CA3AF;
}

.planing__container {
  display: -ms-grid;
  display: grid;
  row-gap: 3.75rem;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem )) or (column-gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem ))) {
  .planing__container {
    -webkit-column-gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem );
       -moz-column-gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem );
            column-gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem )) or (column-gap: clamp( 1.875rem , 0.683988764rem  +  5.9550561798vw , 5.1875rem ))) {
  .planing__container {
    -webkit-column-gap: calc(1.875rem + 3.3125 * (100vw - 20rem) / 55.625);
       -moz-column-gap: calc(1.875rem + 3.3125 * (100vw - 20rem) / 55.625);
            column-gap: calc(1.875rem + 3.3125 * (100vw - 20rem) / 55.625);
  }
}

.planing__item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.planing__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #EEF2FF;
  border-radius: 6px;
}

@supports (margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
  .planing__img:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
  .planing__img:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
  }
}

.planing__header {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #3730A3;
}

@supports (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
  .planing__header:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
  .planing__header:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
  }
}

.planing__text {
  font-weight: 400;
  line-height: 1.5555555556;
  color: #9CA3AF;
}

@supports (padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .careers {
    padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .careers {
    padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .careers {
    padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.6713483146rem  +  14.606741573vw , 9.375rem )) {
  .careers {
    padding-bottom: calc(1.25rem + 8.125 * (100vw - 20rem) / 55.625);
  }
}

.careers_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.careers_item:not(:last-child) {
  margin: 0 1.25rem 0 0;
}

.careers_item span {
  font-weight: 600;
  color: #1F2937;
}

.careers__container {
  display: -ms-grid;
  display: grid;
}

.careers__tables {
  display: -ms-grid;
  display: grid;
}

@supports (row-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
  .careers__tables {
    row-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
  .careers__tables {
    row-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
  }
}

.careers__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.44fr 0.45fr 0.11fr;
  grid-template-columns: 0.44fr 0.45fr 0.11fr;
}

.careers__items_big {
  font-weight: 500;
  text-transform: capitalize;
}

@media (min-width: 47.99875em) {
  .galery__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .galery__item_2 {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .galery__item_4 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .galery__item_4 .item-galery__img-ibg {
    padding: 0 0 33.7268128162% 0;
  }
}

@media (max-width: 47.99875em) {
  .menu-open .button {
    color: #fff;
    border: 1px solid #fff;
  }

  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #b9b5eb;
    padding: 0 0.9375rem 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

@supports (padding-top: clamp( 6.25rem , 3.1938202247rem  +  15.2808988764vw , 14.75rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 3.1938202247rem  +  15.2808988764vw , 14.75rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.1938202247rem  +  15.2808988764vw , 14.75rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 8.5 * (100vw - 20rem) / 55.625);
    }
}

  ._header-scroll .menu__body {
    padding-top: 6.25rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    background: #9b95ee;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

@supports (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem );
    }
}

@supports not (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: calc(5rem + 9.75 * (100vw - 20rem) / 55.625);
    }
}

  ._header-scroll .menu__body::before {
    min-height: 5rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__link {
    font-size: 2.1875rem;
    line-height: 1.9444444444;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    margin-left: 0.9375rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fff;
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fff;
  }

  .main-page__container {
    display: -ms-grid;
    display: grid;
    gap: 1.25rem;
  }

  .main-page__img {
    max-width: 100%;
  }

  .content-main {
    padding-right: 0;
  }

  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5625rem;
  }

  .services__img {
    max-width: 100%;
  }

  .services__items {
    padding: 0;
  }
}

@media (max-width: 29.99875em) {
  .content-main__button {
    display: -ms-grid;
    display: grid;
    gap: 0.625rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #3730A3;
    color: #fff;
  }

  .button_blue:hover {
    background: #fff;
    color: #3730A3;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .footer__icon:hover {
    opacity: 0.5;
  }

  .item-services__link:hover {
    text-decoration: underline;
  }

  .galery .item-galery:hover .item-galery__content {
    opacity: 1;
    visibility: visible;
  }
}

.webp .item-services__link::after{ background: url(../img/icon/arrow-right.webp) 0 0/100% no-repeat; }

.webp .galery .item-galery__body::before{ background: url(../img/icon/arrow-black.webp) 0 0/100% no-repeat; }